:root {
  --header-height: 100px;
  --footer-height: 30px;
}

body {
  background: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-content: flex-start;
  justify-content: flex-start;

  align-items: center;
  /* justify-items: center; */
  /* justify-items: flex-start; */
}

.header {
  flex: 0 0 auto;
  margin-top: auto;
  padding-top: 10px;
  /* height: var(--header-height); */
}

.nav {
  display: flex;
}

.selector{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.items {
  width: 80%;
  margin: 20px;
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;

  align-content: flex-start;
  align-items: center;
  justify-items: center;
  padding: 20px;
  overflow-y: scroll;
}

.item_thumbnail {
  position: relative;
  /* flex: 1 1 auto; */
  flex-basis: 30%;
  width: 100%;
  margin: 0px;
  /* position: relative; */
}

/* .item_thumbnail:hover{
  transform: scale(1.1);
  border-radius: 8px; 
  box-shadow: 0 0 0 5px red inset;
} */
.item_wrapper:hover{
  transform: scale(1.1);
  border-radius: 8px; 
  box-shadow: 0 0 0 5px red inset;
}

.footer {
  display: flex;
  width: 80%;
  height: 50px;
  margin-bottom: auto;
  justify-content: flex-end;

}

.logo {
  width: 418px;
  height: 48px;
  background: #FFFFFF;
}

.nav_tbox {
}

.nav_tbox_text {
}

.nav_btn {
}

.nav_btn_text {
}

.footer_logo {
  /* margin-left: auto; */
}

.overlay{
  opacity: 0.5;
}

.item_wrapper {
  position: relative;
  flex: 1 1 auto;
  flex-basis: 25%;
  width: 20vw;
  margin: 20px;
  padding: 5px 5px 0px 5px;
}

.selector {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;

  width: 5vw;
  height: auto;
  opacity: 1;
  margin-left: -2.5vw;
  margin-top: -2.5vw;
}