:root {
  --header-height: 100px;
  --footer-height: 30px;
}

body {
  background: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-content: flex-start;
  justify-content: flex-start;

  align-items: center;
  /* justify-items: center; */
  /* justify-items: flex-start; */
}

.header {
  flex: 0 0 auto;
  margin-top: auto;
  padding-top: 10px;
  /* height: var(--header-height); */
}

.nav {
  display: flex;
}

.selector{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.items_wrapper{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  align-content: flex-start;
  align-items: center;
  justify-content: space-around;

}

.items {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.item_thumbnail {
  position: relative;
  margin: 0px;

  flex-flow: wrap;
  align-items: center;
  width: 13vw;
  padding: 5px;
}

.item_wrapper {
  display: flex;
  position: relative;
  /* flex-basis: 25%; */
  width: 14vw;
  margin: 10px;
  padding: 5px 5px 5px 5px;
  align-items: center;
}

.item_wrapper:hover{
  transform: scale(1.1);
  border-radius: 8px; 
  box-shadow: 0 0 0 5px red inset;
}

.footer {
  display: flex;
  width: 80%;
  height: 50px;
  margin-bottom: auto;
  justify-content: flex-end;

}

.logo {
  width: 418px;
  height: 48px;
  background: #FFFFFF;
}

.overlay{
  opacity: 0.5;
}

.selector {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;

  width: 5vw;
  height: auto;
  opacity: 1;
  margin-left: -2.5vw;
  margin-top: -2.5vw;
}

.preview {
  display: flex;
  width: 80%;
  justify-content: center;
  padding: 0;
}

.preview_item{
  display: flex;
  width: 80%;
  align-content: center;

}
