:root {
  position: relative;
  width: 1350px;
  height: 940px;
  background: #FFFFFF;
}

.header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 88.94%;
  
  background: #FFFFFF;
  opacity: 0.4;
}

.main {
  position: absolute;
  width: 1350px;
  height: 692px;
  left: calc(50% - 1350px/2);
  top: 168px;
}

.logo {
  position: absolute;
  width: 418px;
  height: 48px;
  left: calc(50% - 418px/2);
  bottom: 16px;
  background: #FFFFFF;
}